/*
Theme Name: Sultan & Sultan
Theme URI: http://underscores.me/
Author: Henrik Norrman
Author URI: http://hnkdesign.se
Description: A custom Wordpress theme using Bootstrap
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: sultansultan
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Sultan & Sultan is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# WP_Navigation
--------------------------------------------------------------*/
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/* COLOUR REFERENCES

Gold:			#d5b684
Gold Hover:		#c8aa79
Light Gold:		#fff4d0
Lightest Gray:	#f9f9f9
Light Gray:		#999999
Medium Gray:	#666666
Dark Gray:  	#191919

*/

/* ==== GENERAL ==== */

body {
	margin-top: 0px;
	font-family: 'Lora', Times, serif;
	font-size: 14px;
	line-height: 20px;
	background: #fff;
	-webkit-font-smoothing: subpixel-antialiased;
	text-rendering: optimizelegibility;
}

.logged-in .navbar-fixed-top {
	top: 32px;
}

/* ==== GLOBAL ==== */

img {
	max-width: 100%;
}

#content img {
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

h1 {
	font-size: 3em;
	font-family: 'Playfair Display', Times, serif;
}

h2 {
	margin: 0;
	font-family: 'Playfair Display', Times, serif;
	font-size: 26px;
}

h3 {
	margin: 0;
	font-family: 'Playfair Display', Times, serif;

}

h4 {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 900;
}

p {
	margin: 0 0 15px;
}

p.lead {
	font-weight: normal;
	font-size: 1.2em;
	line-height: 1.6em;
}

a {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

a:link, a:visited {
	color: #666666;
	text-decoration: none !important;
}

a:hover, a:active {
	color: #d5b684;
	text-decoration: none !important;
}

.gold {
	color: #d5b684;
}

hr {
    margin-top: 30px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #dadada;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
    padding: 0;
}

b, strong {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}

/* ==== NAVBAR ==== */
.navbar-brand {
    float: left;
    height: 100%;
    padding: 15px 15px;
}

.navbar-brand img {
	max-height: 80px;
}

.navbar {
    background-color: #fff;
    border: none;
}

.navbar-nav>li>a {
    line-height: 0;
}

.nav>li>a:focus, .nav>li>a:hover, .nav>li>a:active {
    background: none;
}

ul.nav.navbar-nav.navbar-right {
    padding-top: 38px;
}

.nav .btn-danger {
    margin-right: 8px;
    margin-left: 15px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background-color: #d5b684;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 38px;
    margin-right: 15px;
    margin-bottom: 38px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-collapse {
    border: none;
    box-shadow: none;
}



/* ==== BUTTONS ==== */

.btn {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 10px;
	padding: 8px 14px;
	letter-spacing: 1px;
	border:2px solid;
	border-radius: 0px;
	-webkit-border-radius:0px;
	-moz-border-radius: 0px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

button, input, .btn, a.btn {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn:focus {
	outline: none !important;
}

.btn-success {
	background: #d5b684;
	border-color: #d5b684;
}

.btn-success:hover {
	background: #c8aa79;
	border-color: #c8aa79;
}

.btn-danger {
	background: none;
	border-color: #d5b684;
	color: #d5b684 !important;
}

.btn-danger:active {
	background: #d5b684;
	border-color: #d5b684;
}

.btn-danger.focus, .btn-danger:focus, .btn-danger:hover, .btn-danger:active, .btn-success.focus, .btn-success:focus, .btn-success:active {
	background: #d5b684 !important;
	border-color: #d5b684 !important;
	color: #ffffff !important;
	border-color: #d5b684 !important;
}

.widget .btn {
    font-size: 12px;
}

/* ==== MENU-BUTTONS ==== */


li.btn {
    padding: 0;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

li.btn:focus {
	outline: none !important;
}

li.btn-success a{
	background: #d5b684;
	border-color: #d5b684;
	color: #ffffff;

}

li.btn-success a:link {
	background: #d5b684;
	border-color: #d5b684;
	color: #ffffff;
}

li.btn-success a:hover {
	background: #c8aa79;
	border-color: #c8aa79;
}


li.btn-success {
	background: #d5b684;
	border-color: #d5b684;
}

li.btn-success:link {
	background: #d5b684;
	border-color: #d5b684;
	color: #ffffff;
}

li.btn-success:hover {
	background: #c8aa79;
	border-color: #c8aa79;
}

li.btn-success:active {
	background: #d5b684;
	border-color: #d5b684;
}

li.btn-success.focus,
li.btn-success:focus {
	background: #d5b684 !important;
	border-color: #d5b684 !important;
}

li.btn-danger:link {
	background: none;
	border-color: #d5b684;
	color: #d5b684;
}

li.btn-danger {
	background: none;
	border-color: #d5b684;
	color: #d5b684;
}

li.btn-danger a{
	background: none;
	border-color: #d5b684;
	color: #d5b684;
}

li.btn-danger a:hover {
	background: #d5b684;
	border-color: #d5b684;
	color: #fff;
}


li.btn-danger:hover {
	background: #d5b684;
	border-color: #d5b684;
	color: #fff;
}

li.btn-danger:active {
	background: #d5b684;
	border-color: #d5b684;
}

li.btn-danger.focus,
li.btn-danger:focus {
	background: #d5b684 !important;
	border-color: #d5b684 !important;
}

li.btn {
	font-size: 11px !important;
}


/* ==== LAYOUT ==== */


section {
	padding: 60px 0;
}

#primary {
	padding-bottom: 0px;
}


.section-header {
	text-align: center;
}

section h2 {
	margin: 20px 0 20px;
}

section h3 {
	margin: 30px 0 10px;
}

section.main-content {
	padding: 40px 0;
}

.align-right {
	text-align: right;
}

.feature-image {
	display: table;
    width: 100%;
    margin-top: 80px;
    height: 500px;
    padding: 0px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.feature-image-default {
	background: url('../img/Restaurang_Valand_feature.jpg') no-repeat;
	background-size: cover;
}

.feature-image-default-alt {
	background: url('../img/Valand_hero.jpg') no-repeat;
	background-size: cover;
}

.feature-image h1 {
	font-size:4em;
	text-align: left;
	color: #d5b684;
	padding-bottom: 20px;
}
.gradient {
	position: absolute;
    height: 130px;
    width: 100%;
	top: 450px;
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */
    }

.menu h2 {
    margin: 0 0 10px;
}

.menu p {
    margin: 0 0 0px;
}

.menu h5 {
    font-size: 16px;
    color: #d5b684;
    margin-top: 5px;
    margin-bottom: 20px;
}

.menu h3 {
    margin: 16px 0 10px;
    font-size: 20px;
}

/* ==== FORM ==== */

.form-control {
    display: inline-block;
    font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 12px;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background: none;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-footer {
    width: 66%;
    font-size: 11px;
}

.form {
    padding-top: 24px;
}

span.wpcf7-not-valid-tip {
    color: #a94442;
    font-size: 0.9em;
    display: block;
}

div.wpcf7-response-output {
    margin: 30px 0;
    padding: 8px 18px;
}

/* ==== CASPECO BOOKING ==== */
{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.booking,
.booking * {
  cursor: wait !important;
}
.header h1 {
  text-shadow: none;
  margin-bottom: 10px;
}
.header h1.noLogo {
  text-align: center;
}

#caspecoWrap .footer {
    display: none;
}

#caspecoWrap.fullscreen {
  margin: 0 auto;
  width: 100%;
  margin-top: 10%;
  padding-bottom: 20px;
}
#caspecoWrap.fullscreen #caspecoWrapInner {
  border: 1px solid #fff;
  box-shadow: 0px 4px 10px #DDD;
}
#caspecoWrap.fullscreen.fixedSize {
  height: 492px;
  overflow: hidden;
  padding-bottom: 0px;
  margin-top: 0px;
}
#caspecoWrap.fullscreen.fixedSize #caspecoWrapInner {
  height: 492px;
}
#caspecoWrap.fullscreen.fixedSize .step {
  height: 492px;
  position: relative;
}
#caspecoWrap.fullscreen.fixedSize .actionbar {
  position: absolute;
  width: 549px;
  bottom: 20px;
}
#caspecoWrap.small {
  width: 100%;
}
#caspecoWrap.small label,
#caspecoWrap.small select,
#caspecoWrap.small input:not([type='checkbox']) {
  width: 100%;
}
#caspecoWrap.small #condition {
  width: auto;
}
#caspecoWrap.small .leftCol {
  float: none;
 margin-right: 0px;
}
#caspecoWrap.small .datepicker .ui-datepicker {
  width: 100%;
}
#caspecoWrap.small .rightCol {
  width: 100%;
  float: none;
  height: auto;
}
#caspecoWrap.small .CaspecoTM {
  display: block;
}
#caspecoWrap.small .CaspecoTM strong {
  display: none;
}
.CaspecoTM {
  display: inline;
}
.boxsizing input {
  height: 28px;
}
.boxsizing input[type='checkbox'] {
  height: 13px;
  margin-bottom: 4px;
}
.superscript {
  vertical-align: super;
  font-size: 80%;
}
.caspeco-color {
  color: #0085ad;
}
#caspecoWrapInner {
  background: #fff;
}
.scroll-y {
  -webkit-overflow-scrolling: touch;
}
.errorPlaceHolder {
  height: 36px;
  margin: 10px 0px;
}
label {
  font-weight: bold;
  font-size: 0.85em;
  color: Gray;
}
.fullscreen #step3 .table {
  width: 300px;
  margin: 0px auto;
}
body.fullscreen {
  background: #fff;
}
.small .vspace {
  margin-top: 20px;
}
.closedDay a,
.closedDay,
.closedDay a.ui-state-default.ui-state-active {
  color: red !important;
  opacity: 0.7 !important;
  background: none;
}
.closedDay a:hover,
.closedDay:hover,
.closedDay a.ui-state-default.ui-state-active:hover {
  background: none !important;
}
.closedTime,
.closedTime:hover {
  text-decoration: line-through;
  opacity: 0.5;
}
.ui-datepicker-unselectable:hover,
.ui-datepicker-unselectable span.ui-state-default:hover {
  background: none;
  color: gray;
}
.small .guideFirst {
  display: none !important;
}
.guideFirst.guide-guest {
  margin-top: 20px;
}
.guideFirst.guide-section {
  margin-top: 75px;
}
.guideFirst.guide-date {
  margin-top: 145px;
}
.myContain {
  width: 587px;
}
.container-fluid {
  padding: 20px;
}
.leftCol {
  float: left;
  margin-right: 27px;
}
.rightCol {
  float: left;
  width: 288px;
  overflow: auto;
  height: 320px;
}
.timeButtonWrapper {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.noOverflow {
  overflow: hidden;
}
.timeButtons .timeButton {
  margin-bottom: 5px;
  padding: 4px 7px 4px;
  text-shadow: 0px 0px 0px #000;
}
.small .timeButtonWrapper {
  width: 20%;
  float: left;
  display: block;
  padding: 0px 2px;
}
.small .timeButtonWrapper .timeButton {
  width: 100%;
}
.actionbar .actionbar-left {
  float: left;
}
.actionbar .actionbar-right {
  float: right;
}
.datepicker .ui-datepicker {
  width: 230px;
}
.red {
  background: red !important;
}
select {
  width: 230px;
}
.actionbar-right > * {
  float: left;
}

.ui-helper-hidden,
.hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
.ui-datepicker td .ui-state-active {
  background: #0064CD;
  color: white;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}



/* ==== GOOGLE MAPS ACF ==== */
.acf-map {
	width: 100%;
	height: 500px;
	border: none;
	margin: 0px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}

/* ==== EVENT-PAGE ==== */

.event-head {
	padding-top: 0px;
	display: table-cell;
	vertical-align: middle;
}

.event-head-left {
	text-align: left;
}

.event-head h1 {
	max-width: 50%;
	margin: 0;
	padding-bottom: 10px;
}

.event-head h3 {
	display: block;
	color: #ffffff;
	max-width: 40%;
	margin: 0 0 10px 0;
}

.event-head p {
	display: inline-block;
	color: #ffffff;
	max-width: 30%;
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}

/* ==== KALENDER ==== */

#filter {
    margin-top: 100px;
    padding-bottom: 0;
}

#event-all {
    padding: 30px 0 30px 0;
}

a.filter-event, a.see-all {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	color: #d5b684;
	font-size: 14px;
	letter-spacing: 1px;
}

a.filter-event {
	padding-right: 30px;
}

a.see-all {
    float: right;
}


/* ==== NATTKLUBB ==== */
.page-template-page-nattklubb a {
    color: #ffffff;
}

.page-template-page-nattklubb a:hover {
    color: #d5b684;
}

body.page-template-page-nattklubb {
    background: #000;
    color: #fff;
}

.page-template-page-nattklubb .navbar {
    background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.7)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.7)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.7)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.7)); /* Standard syntax (must be last) */
}

.page-template-page-nattklubb .navbar a {
    color: #fff;
}

.page-template-page-nattklubb .navbar a:hover {
	color: #d5b684;
	text-decoration: none !important;
}

.page-template-page-nattklubb a.cat-link {
    color: #fff;
}

.page-template-page-nattklubb li.parent a {
    color: #fff !important;
}

.page-template-page-nattklubb li.parent {
    color: #fff;
}



/* ==== LOKAL ==== */

.lokal h2 {
    color: #fff;
    padding-top: 112px;
    padding-bottom: 100px;
    font-size: 3em;
    text-shadow: 0px 1px 10px #000000;
}

.lokal h2:hover {
	color: #d5b684;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.lokal {
    background-size: cover;
    background-position: 50%;
}

/* ==== SIDEBARS ==== */

.widget {
	display: block;
	padding-bottom: 20px;
}

.widget a.bokning {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	color: #d5b684;
	font-size: 12px;
	letter-spacing: 1px;
}

.widget h3 {
    margin-top: 0;
    font-size: 18px;
}

.widget li {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 12px;
	margin: 0 0 5px;
}

#sidebar-open {
	text-align:center;
}

.disclaimer {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 12px;
	margin: 0 0 2px;
}

#side-menu {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 12px;
	margin: 0 0 5px;
}

#side-menu ul {
    margin-top: 0;
    margin-bottom: 8px;
    list-style-type: none;
	padding-left:10px;
	}

#side-menu li.parent {
	margin-left: -10px;
	}




/* ==== HERO ==== */

#hero {
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 580px;
	position: relative;
	display: table;
	width: 100%;
	padding: 40px 0;
	margin-top: 80px;
	color: #191919;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}


#hero article {
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

#hero .hero-text {
	margin-top: 0px;
	padding-left: 100px;
	padding-right: 100px;
}

.hero-text h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.hero-text img {
	max-width: 260px;
}

/* ==== EVENT ==== */

.event {
	margin-bottom: 8%;
	padding: 10px;
    height: 333px;
    width: 100%;
    text-align: center;
    display: table;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.event-hover {
	padding: 0px !important;
}

.event span {
	display: block;
}

.event .event-content {
	display: table-cell;
	vertical-align: middle;
}

.first {
	display: table-cell;
	vertical-align: middle;
}

.first img {
	width:45%;
}

.first a {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	color: #d5b684;
	font-size: 14px;
	letter-spacing: 1px;
}

.intro a {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	color: #d5b684;
	font-size: 14px;
	letter-spacing: 1px;
}

.intro-fixed {
	padding-right: 10px;
	padding-left: 10px;
}

.intro {
    padding-bottom: 30px;
   	min-height: 470px;

}

.intro h2 {
    margin-bottom: 12px;
}

.intro img {
    height: 100%;
}

.event-content {
	display: table-cell;
	padding: 0px;
	background-color: rgba(39,39,39,0.3);
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.event-content:hover {
	background-color: rgba(39,39,39,0.0);
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.event-content h4 {
    display: block;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #f3d29c;
}

.event-content h3 {
	font-size: 28px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #fff;
}

.event-content a,
.event-content a:hover,
.event-content a:active,
.event-content a:focus {
	text-decoration: none;
}

/* ==== CHRISTMAS ==== */

.christmas {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 335px;
	position: relative;
	display: table;
	width: 100%;
	padding: 40px 40px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.christmas h2 {
    font-size: 4em;
    margin: 0px;
}

.christmas-column h4 {
    text-transform: uppercase;
    font-size: 1.0em;
    margin-top: 6px;
    margin-bottom: 0px;
    color: #d5b684;
}

.christmas-column p.lead {
    padding-top: 26px;
}

.christmas-column a {
    color: #d5b684;
    font-family: 'Roboto';
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px;
}



/* ==== PARALLAX ==== */

#featurette {
	background-position: 30% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
	padding: 120px 0;
	color: #ffffff;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

/* ==== Categories ==== */

#categories {
	text-align: center;
}

#categories p {
	padding: 0 20px 10px 20px;
}

#categories h2 {
    margin: 20px 0 13px;
}

section#categories {
    padding-bottom: 0px;
}

a.cat-link {
    color: #333;
}


/* ==== FOOTER ==== */

#footer-menu {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 13px;
	color: #999999;
	padding: 26px 0 10px 0;
}

#footer-menu a:link, #footer-menu a:visited {
	color: #999999;
}

#footer-menu a:hover {
	color: #d5b684;
}

#footer-menu li.parent a, li.parent{
	color: #191919;
}

#footer-menu li.parent a:hover{
	color: #c8aa79;
}

section#footer-logos {
    padding: 0;
}

/* ==== MEDIA QUERIES ==== */

@media screen and (min-width : 1200px) {
	h1 {
    font-size: 3.4em;
	}

	#hero .hero-text {
    margin-top: 0px;
    padding-left: 110px;
    padding-right: 110px;
	}
    .sponsor {
    margin-top: -22px;
    margin-bottom: -12px;
}

}

@media (max-width: 1200px) {
	.navbar>.container {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 60px;
	}

	.nav>li>a {
    padding-left: 10px;
	padding-right: 10px;
	}
}

@media (max-width: 991px) {
   	.foot-col {
    min-height: 160px;
    text-align: center;
}

    .sponsor {
    padding: 0px 100px;
}

    .event p.lead {
    font-size: 1.1em;
	}

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

    #hero .hero-text {
	margin-top: 0px;
	padding-left: 30px;
	padding-right: 30px;
	}

.navbar-nav>li>a {
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

li.btn a{
	font-size: 11px !important;
}

.nav .btn-danger {
    display: block;
    margin-top: 10px;
    width: 111px;
    margin-left: auto;
    margin-right: auto;
}

.nav .btn-success {
    display: block;
    margin-top: 10px;
    width: 111px;
    margin-left: auto;
    margin-right: auto;
}
ul.nav.navbar-nav.navbar-right {
    padding-top: 0px;
    padding-bottom: 30px;
    text-align: center;
}
}

@media screen and (max-width : 782px) {
	.logged-in .navbar-fixed-top {
	top: 46px;
}
}

@media screen and (max-width : 768px) {
    .event {
		height: 400px;
	}

.event-head h1 {
    max-width: 100%;
}

.event-head h3 {
    max-width: 100%;
}

.event-head p {
    max-width: 100%;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    min-height: 100px;
}

.align-right {
    text-align: center;
}

.gradient {
    position: absolute;
    height: 180px;
    width: 100%;
    top: 400px;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}

aside#event-left {
    display: none;
}

#side-menu li {
    margin-left: 0;
    margin-right: 9px;
    display: inline;
}

#side-menu .list-unstyled {
    min-height: 20px;
}

#side-menu {
    margin-bottom: 30px;
}

#sidebar-open {
    text-align: left;
    margin-top: 50px;
}



}

@media screen and (max-width : 600px) {
	.logged-in .navbar-fixed-top {
	top: 42px;
}
}


@media screen and (max-width : 568px) {
	.event {
		height: 300px;
	}

	.gradient {
    position: absolute;
    height: 180px;
    width: 100%;
    top: 400px;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}
}
