/* COLOUR REFERENCES

Gold:			#d5b684
Gold Hover:		#c8aa79
Light Gold:		#fff4d0
Lightest Gray:	#f9f9f9
Light Gray:		#999999
Medium Gray:	#666666
Dark Gray:  	#191919

*/

/* ==== GENERAL ==== */

body {
	margin-top: 0px;
	font-family: 'Lora', Times, serif;
	font-size: 13px;
	line-height: 19px;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}


/* ==== GLOBAL ==== */

img {
	max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

h1 {
	font-size: 3em;
	font-family: 'Playfair Display', Times, serif;
}

h2 {
	margin: 0;
	font-family: 'Playfair Display', Times, serif;
	font-size: 26px;
}

h3 {
	margin: 0;
	font-family: 'Playfair Display', Times, serif;

}

h4 {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 900;
}

p {
	margin: 0 0 15px;
}

p.lead {
	font-weight: normal;
	font-size: 1.2em;
	line-height: 1.6em;
}

a {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

a:link, a:visited {
	color: #666666;
	text-decoration: none !important;
}

a:hover, a:active {
	color: #d5b684;
	text-decoration: none !important;
}

.gold {
	color: #d5b684;
}

hr {
    margin-top: 30px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #dadada;
}

/* ==== NAVBAR ==== */
.navbar-brand {
    float: left;
    height: 100%;
    padding: 15px 15px;
}

.navbar-brand img {
	max-height: 80px;
}

.navbar {
    background-color: #fff;
}

.navbar-nav>li>a {
    line-height: 0;
}

.nav>li>a:focus, .nav>li>a:hover, .nav>li>a:active {
    background: none;
}

ul.nav.navbar-nav.navbar-right {
    padding-top: 38px;
}

.nav .btn-danger {
    margin-right: 8px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background-color: #666666;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 38px;
    margin-right: 15px;
    margin-bottom: 38px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}



/* ==== BUTTONS ==== */

.btn {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 10px;
	padding: 8px 14px;
	letter-spacing: 1px;
	border:2px solid;
	border-radius: 0px;
	-webkit-border-radius:0px;
	-moz-border-radius: 0px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

button, input, .btn, a.btn {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn:focus {
	outline: none !important;
}

.btn-success {
	background: #d5b684;
	border-color: #d5b684;
}

.btn-success:hover {
	background: #c8aa79;
	border-color: #c8aa79;
}

.btn-success:active {
	background: #d5b684;
	border-color: #d5b684;
}

.btn-success.focus, .btn-success:focus {
	background: #d5b684 !important;
	border-color: #d5b684 !important;
}

.btn-danger {
	background: none;
	border-color: #d5b684;
	color: #d5b684;
}

.btn-danger:hover {
	background: #d5b684;
	border-color: #d5b684;
	color: #fff;
}

.btn-danger:active {
	background: #d5b684;
	border-color: #d5b684;
}

.btn-danger.focus, .btn-danger:focus {
	background: #d5b684 !important;
	border-color: #d5b684 !important;
}

/* ==== LAYOUT ==== */


section {
	padding: 60px 0;
}

#primary {
	padding-bottom: 0px;
}


.section-header {
	text-align: center;
}

section h2 {
	margin: 20px 0 20px;
}

section h3 {
	margin: 30px 0 10px;
}

section.main-content {
	padding: 40px 0;
}

.align-right {
	text-align: right;
}

.feature-image {	
	display: table;
    width: 100%;
    margin-top: 80px;
    height: 420px;
    padding: 0px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.feature-image-default {
	background: url('../img/Restaurang_Valand_feature.jpg') no-repeat;
	background-size: cover;
}

.feature-image-default-alt {
	background: url('../img/Valand_hero.jpg') no-repeat;
	background-size: cover;
}

.feature-image h1 {
	font-size:5em;
	text-align: left;
	color: #d5b684;
	padding-bottom: 20px;
}
.gradient {
	position: absolute;
    height: 130px;
    width: 100%;
	top: 370px;
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */
    }
   
/* ==== EVENT-PAGE ==== */

.event-head {
	display: table-cell;
	vertical-align: middle;
}

.event-head-left {
	text-align: left;
}

.event-head h1 {
	max-width: 50%;
	margin: 0;
	padding-bottom: 10px;
}

.event-head h3 {
	display: block;
	color: #ffffff;
	max-width: 33%;
	margin: 0 0 10px 0;
}

.event-head p {
	display: inline-block;
	color: #ffffff;
	max-width: 25%;
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}
   
/* ==== SIDEBARS ==== */

.widget {
	display: block;
	padding-bottom: 20px;
}

.widget a.bokning {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	color: #d5b684;
	font-size: 12px;
	letter-spacing: 1px;
}

.widget h3 {
    margin-top: 0;
    font-size: 18px;
} 

.widget li {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 12px;
	margin: 0 0 5px;
}
  
#sidebar-open {
	text-align:center;
}
   
.disclaimer {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 12px;
	margin: 0 0 2px;
}

#side-menu {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 12px;
	margin: 0 0 5px;
}

#side-menu ul {
    margin-top: 0;
    margin-bottom: 8px;
    list-style-type: none;
	padding-left:10px;
	}

#side-menu li.parent {
	margin-left: -10px;
	}




/* ==== HERO ==== */

#hero {
	background: url('../img/Valand_hero.jpg') 50% 0 no-repeat fixed;
	background-size: cover; 
	min-height: 580px;
	position: relative;
	display: table;
	width: 100%;
	padding: 40px 0;
	margin-top: 80px;
	color: #191919;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

#hero article { 
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

#hero .hero-text {
	margin-top: 0px;
	padding-left: 100px;
	padding-right: 100px;
}

.hero-text h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.hero-text img {
	max-width: 260px;
}

/* ==== EVENT ==== */

.event {
	width: 31.33333333%;
	float: left;
	margin: 0 3% 3% 0;
	min-height: 300px;
	text-align: center;
	display: table;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.event span {
	display: block;
}

.event .event-content {
	display: table-cell;
	vertical-align: middle;
}

.first {
	display: table-cell;
	vertical-align: middle;
}

.first img {
	width:45%;
}

.first a {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	color: #d5b684;
	font-size: 14px;
	letter-spacing: 1px;
}

.event-content {
	display: table-cell;
	padding: 20px;
	background-color: rgba(39,39,39,0.3);
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.event-content:hover {
	background-color: rgba(39,39,39,0.0);
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.event-content h4 {
    display: block;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #d5b684;
}

.event-content h3 {
	font-size: 28px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #fff;
}

.event-content a,
.event-content a:hover,
.event-content a:active,
.event-content a:focus {
	text-decoration: none;
}

/* ==== PARALLAX ==== */

#featurette {
	background: url('../img/valand-historic.jpg') 30% 100% no-repeat fixed;
	background-size: cover; 
	text-align: center;
	padding: 120px 0;
	color: #ffffff;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

/* ==== Categories ==== */

#categories {
	text-align: center;
}

#categories p {
	padding: 0 20px 10px 20px;
}

#categories h2 {
    margin: 20px 0 13px;
}

section#categories {
    padding-bottom: 0px;
}

a.cat-link {
    color: #333;
}


/* ==== FOOTER ==== */

#footer-menu {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 13px;
	color: #999999;
	padding: 26px 0 10px 0;
}

#footer-menu a:link, #footer-menu a:visited {
	color: #999999;
}

#footer-menu a:hover {
	color: #d5b684;
}

#footer-menu li.parent a, li.parent{
	color: #191919;
}

#footer-menu li.parent a:hover{
	color: #c8aa79;
}

section#footer-logos {
    padding: 0;
}

/* ==== MEDIA QUERIES ==== */

@media screen and (min-width : 1200px) {
	h1 {
    font-size: 3.4em;
	}
	
	#hero .hero-text {
    margin-top: 0px;
    padding-left: 110px;
    padding-right: 110px;
	}
}

@media screen and (min-width : 768px) {
	.event:nth-child(3n) {
	margin-right: 0;
	}
	.navbar-right {
    margin-right: 0px;
}

}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    
    #hero .hero-text {
	margin-top: 0px;
	padding-left: 30px;
	padding-right: 30px;
	}
	
.navbar-nav>li>a {
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav .btn-danger {
    display: block;
    margin-top: 10px;
    width: 111px;
    margin-left: auto;
    margin-right: auto;
}

.nav .btn-success {
    display: block;
    margin-top: 10px;
    width: 111px;
    margin-left: auto;
    margin-right: auto;
}
ul.nav.navbar-nav.navbar-right {
    padding-top: 0px;
    padding-bottom: 30px;
    text-align: center;
}
}

@media screen and (max-width : 768px) {
	.event {
		width: 48%;
		margin-right: 2%;
		min-height: 400px;
	}
	.event:nth-child(even) {
	margin-right: 0;
}

.event-head h1 {
    max-width: 100%;
}

.event-head h3 {
    max-width: 100%;
}

.event-head p {
    max-width: 100%;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    min-height: 100px;
}

.align-right {
    text-align: left;
}

.gradient {
    position: absolute;
    height: 180px;
    width: 100%;
    top: 320px;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}

}

@media screen and (max-width : 568px) {
	.event {
		width: 100%;
		margin-right: 0;
		min-height: 300px;
	}
	
	.gradient {
    position: absolute;
    height: 180px;
    width: 100%;
    top: 320px;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}
}